.search {
    margin-top: 15px;
    margin-bottom: 15px;
}
body {
   /* background - image: url("https://cdn.pixabay.com/photo/2021/07/06/19/26/drops-6392473_960_720.jpg");*/
    background-color: darkslategrey;
    /*background-size: 100 %;
    background-color: #000000;
    background - repeat: no - repeat;
    background - size: cover;*/
}